*{margin: 0}
img {
    max-width: 100%;
    height: auto;
}
.comida1{
    position: fixed;
    top: 58%;
    right: 28%;
    width: 45vw;
    height: 20vw;
    z-index:1;
}
.titulo{
    position: fixed;
    top: 51%;
    right: 28%;
    width: 45vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    z-index:1;
}